  <footer class="site-footer">
    <a href="https://lfprojects.org/policies/terms-of-use/">TERMS OF USE</a>
    <span>|</span>
    <a href="https://lfprojects.org/policies/privacy-policy/">PRIVACY POLICY</a>
    <span>|</span>
    <a href="https://lfprojects.org/policies/trademark-policy/">TRADEMARK POLICY</a>
    <span>|</span>
    <a href="https://lfprojects.org/policies/antitrust-policy/">ANTITRUST POLICY</a>
    <span>|</span>
    <a href="https://lfprojects.org/policies/code-of-conduct/">CODE OF CONDUCT</a>
  </footer>
