<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MaterialX - {{ title }}</title>

  <link rel="icon" href="faviconMX.ico">
  <link rel="stylesheet" href="style/default.css">
</head>
<body>

{% include "navigation.html" %}

  <main class="document">
    <div id="mainContentContainer">
{% include "header.html" %}
{% if heading %}
      <div class="clearBoth"></div>
      <h1 class="articleContentTitle">{{ heading }}</h1>
      <div class="clearBoth"></div>
      <hr>
{% endif %}
      <div class="clearBoth"></div>
      <section class="coursewareBackground">
        <article class="topicLeftData-MainData">

{{ content | safe }}
        </article>
      </section>
    </div>

    <div class="clearBoth"></div>

  </main>

{% include "footer.html" %}

</body>
</html>
