<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>MaterialX - {{ title }}</title>

  <link rel="icon" href="faviconMX.ico" type="image/x-icon" />
  <link rel="stylesheet" href="style/default.css" type="text/css">
</head>
<body>

{% include "navigation.html" %}

  <main class="document">
    <h1 class="title">
      <span id="title-text">
        MaterialX
      </span>
    </h1>

    <div id="mainContentContainer">
{% include "header.html" %}
{% if heading %}
      <div class="clearBoth"></div>
      <h1 class="articleContentTitle">{{ heading }}</h1>
      <div class="clearBoth"></div>
      <hr>
{% endif %}
      <div class="clearBoth"></div>
      <section class="coursewareBackground">
        <article class="topicLeftData-MainData">

{{ content | safe }}
        </article>
      </section>
    </div>

    <div class="clearBoth"></div>

  </main>

{% include "footer.html" %}

</body>
</html>
