<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MaterialX - {{ title }}</title>

  <link rel="icon" href="faviconMX.ico">
  <link rel="stylesheet" href="{{ 'style/default.css' | versioned }}">
</head>
<body>

{% include "navigation.html" %}

  <div class="page">
{% include "header.html" %}
{% if heading %}
    <h1 class="page-title">{{ heading }}</h1>
    <hr>
{% endif %}
    <main class="content">

{{ content | safe }}
    </main>
  </div>

{% include "footer.html" %}

</body>
</html>
