          <li><a href="index.html">Home</a></li>
          <li><a target="_blank" href="docs/api/index.html">Developer Guide</a></li>
          <li><a target="_blank" href="https://github.com/AcademySoftwareFoundation/MaterialX/tree/main/documents/Specification">Specification</a></li>
          <li><a class="button" href="https://github.com/AcademySoftwareFoundation/MaterialX">GitHub</a></li>
          <li class="icon">
            <a href="https://fosstodon.org/@MaterialX" rel="me"><img alt="Mastodon" src="images/MastodonLogo.svg" width="20" height="20"></a>
          </li>
