  <aside class="navigation">
    <br>
    <nav class="quickLinks">
      <div>
        <a href="index.html"><img alt="<MaterialX Logo>" src="images/MaterialXLogoSmallA.png"></a>
      </div>
      <ul>
        <li>
          <a href="Specification.html">MaterialX Specification</a>
          <ul>
            <li>
              <a href="Specification.html#CurrentSpec">Current Specification</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="Specification.html#RevisionHistory">Revision History</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>
          <a href="DeveloperReference.html">Developer Reference</a>
          <ul>
            <li>
              <a href="DeveloperReference.html#DeveloperGuide">Developer Guide</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="DeveloperReference.html#ExampleCode">Example Code</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="DeveloperReference.html#ExampleFiles">Example MaterialX Files</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="DeveloperReference.html#Discussion">Discussion Forum</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="DeveloperReference.html#LogoImages">MaterialX Logo Images</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>
          <a href="Tools.html">Rendering and Tools</a>
          <ul>
            <li>
              <a href="Tools.html#ShaderGen">ShaderGen</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="Tools.html#Viewer">MaterialX Viewer</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="Tools.html#GraphEditor">MaterialX Graph Editor</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="Tools.html#WebViewer">MaterialX Web Viewer</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>
          <a href="ThirdPartySupport.html">Third-Party MaterialX Support</a>
          <ul>
            <li>
              <a href="ThirdPartySupport.html#USD">Pixar USD</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="ThirdPartySupport.html#Houdini">SideFX Houdini</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="ThirdPartySupport.html#Maya">Autodesk Maya</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="ThirdPartySupport.html#Max">Autodesk 3ds Max</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="ThirdPartySupport.html#VRED">Autodesk VRED</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="ThirdPartySupport.html#Apple">Apple VisionOS</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="ThirdPartySupport.html#Unreal">Unreal Engine</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="ThirdPartySupport.html#Omniverse">NVIDIA Omniverse</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="ThirdPartySupport.html#Arnold">Autodesk Arnold</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="ThirdPartySupport.html#RenderMan">Pixar RenderMan</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="ThirdPartySupport.html#V-Ray">Chaos V-Ray</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>
          <a href="Contributing.html">Contributing to MaterialX</a>
          <ul>
            <li>
              <a href="Contributing.html#CLA">Contributor License Agreement</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="Contributing.html#Contributors">Current Contributors</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>
          <a href="https://github.com/AcademySoftwareFoundation/MaterialX/blob/main/LICENSE">License</a>
        </li>
      </ul>
    </nav>
  </aside>
